<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Welcome to Clarisite</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="" />
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="styles/bundle.css" />
    </head>
    <body>
        <div class="header">
            <h1>Clara is walking.</h1>
            <marquee>
                <div>
                    <span>I must not stop...</span>
                    <span>I'm so happy to be here.</span>
                    <span>Is this how it feels to no longer be lost?</span>
                </div>
                <div>
                    <span>No longer afraid. No longer doubtful.</span>
                    <span>If I stop writing my heart will explode.</span>
                    <span>What's the point of not trying to talk?</span>
                </div>
                <div>
                    <span>I'm so happy to be here.</span>
                    <span>What if the right time never arrives?</span>
                    <span>Holding out for the right time...</span>
                    <span>What did you say you wanted to write?</span>
                </div>
                <div>
                    <span>Will you bite the hand that feeds?</span>
                    <span>Everyday is exactly the same...</span>
                    <span>There is no love and there is no pain.</span>
                    <span>As alive as you want me to be.</span>
                </div>
            </marquee>
        </div>
        <div class="greeter">
            <span>Nice to see you here...</span>
        </div>
    </body>
</html>
