<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="description" content="Welcome to the Clarisite" />
        <link rel="icon" href="favicon.png" />
        <link rel="stylesheet" href="/styles/bundle.css" />


        <meta property="og:title" content="{{ title }}" />
        <meta
            property="og:description"
            content="{{ description }}"
        />
        <meta property="og:image" content="{{ image }}" />
        <meta property="og:type" content="website" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="{{ title }}" />
        <meta
            name="twitter:description"
            content="{{ description }}"
        />
        <meta name="twitter:image" content="{{ image }}" />
    </head>
    <body>
        <article>
            <span class="send-home"><a href="/">Go Home</a></span> |
            <span class="date-informer">{{date | fmtDate("yyyy-LL-dd HH:mm")}}</span>
            {{ content | safe }}
        </article>
    </body>
</html>
