@font-face {
    font-family: Fantasma;
    src: url(Fantasma.otf);
}

body {
    padding: 0 6em;
    color: white;
    background-color: #16161d;
    font-family: monospace;
}

.header {
    display: flex;
}

.header h1 {
    font-family: Fantasma;
    min-width: 35%;
    font-size: 3em;
    letter-spacing: 0.15em;
    color: #b2ffff;
}

.greeter {
    height: 80%;
    display: flex;
    align-items: center;
    align-content: center;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-between;
    min-height: 60vh;
    padding-top: 2em;
}

.menu-row {
    display: flex;
    min-width: 100%;
    justify-content: space-around;
    min-height: 9em;
}

.menu-item {
    max-width: 6em;
    text-align: center;
    font-family: Fantasma;
    font-size: 2em;
}
